*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.wrapper {
    background: black;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

input#search, button, .wrapper {
    font-size: 2rem;
    padding: 7px;
    font-family: 'Roboto Slab', serif;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp {
    margin: 20px 0 14px;
}